@keyframes fadeOutDelayed {
    0%   { opacity: 1; }
    80%  { opacity: 1; }  
    85%  { opacity: 0.8; }
    90%  { opacity: 0.6; }
    95%  { opacity: 0.3; }
    100% { opacity: 0; }
}

 @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}