:root {

    /* Theme Specific */
    --guac-background: #85a379;
    --guac-buttons: #FFF;
    --guac-buttons-hover: #FFF;
    --guac-buttons-shadow: #FFF;
    --guac-buttons-shadow-hover: 0 0 0 rgba(0,0,0,0.1);
    --guac-border-radius-photos: 0.75rem;
    --guac-border-radius: 0.5rem;
    --guac-buttons-border: 2px solid #FFF;
    --guac-font: system-ui, sans-serif;

    /* Colors */
    --guac-orange: #ffc400;

    /* Content Page */
    --guac-content-page-text: #f0f0f0;
    --guac-content-page-header: #f3f3f3;

    /* Navbar (Sidepanel) */
    --guac-nav-background: #506846;
    --guac-nav-buttons: #FFF;
    --guac-nav-buttons-shadow: 0 0 0 rgba(0,0,0,0.1);
    --guac-nav-buttons-hover: #44573c;
    --guac-nav-text: #dbdbdb;

}

/* ################################################################# */
/*                             GENERAL                               */
/* ################################################################# */

html, body {
    margin: 0;
    padding: 0;
    background: var(--guac-background);
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    font-family: var(--guac-font) !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.page-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.portfolio-button {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    color: #616161;
    border-radius: var(--guac-border-radius);
    outline: none !important;
    border: 2px solid #667c5a;
    background-color: #dddddd;
    cursor: pointer;
    box-shadow: 0 3px 1px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}

.portfolio-button:hover {
    transform: translateY(1px);
    color: #ffffff;
    border: 2px solid #667c5a;
    background: #556b4b;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

/* ################################################################# */
/*                           NAV TOGGLE                              */
/* ################################################################# */

.toggle-sidepanel {
    display: none;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem; 
    width: 2.5rem; 
    height: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: var(--guac-nav-text);
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
    position: absolute;
}

.burger-menu span:nth-child(1) { transform: translateY(-0.6rem); }
.burger-menu span:nth-child(2) { transform: translateY(0); }
.burger-menu span:nth-child(3) { transform: translateY(0.6rem); }

.burger-menu:not(.open):hover span:nth-child(1) { width: 1.5rem; transform: translateY(-0.6rem) translateX(-0.25rem); }
.burger-menu:not(.open):hover span:nth-child(2) { width: 2rem; }
.burger-menu:not(.open):hover span:nth-child(3) { width: 1.2rem; transform: translateY(0.6rem) translateX(-0.4rem); }
.burger-menu:hover span {
    background: #FFF;
}

.burger-menu:active {
    transform: scale(0.9);
}

.burger-menu.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg); 
    width: 2.2rem; 
    background: #FFF;
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.burger-menu.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    width: 2.2rem;
    background: #FFF;
}

@media (max-width: 1024px) {
    .toggle-sidepanel {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 100;
    }
}

/* ################################################################# */
/*                            SIDEMENU                               */
/* ################################################################# */

.side-panel {
    z-index: 2;
    width: 20%;              
    min-width: 280px;
    height: 100vh;
    background: var(--guac-nav-background);
    color: var(--guac-nav-buttons);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;   
     box-shadow: 6px 0 12px rgba(0, 0, 0, 0.15);  
    position: fixed; 
    top: 0;
    left: 0;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.side-panel::after {
    content: "";
    position: absolute;
    top:0; left:0; width:100%; height:100%;
    pointer-events: none;
    background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 8px 8px;
    z-index:1;
}

.side-panel-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
}

.side-panel-meta span {
    font-size: clamp(1.1rem, 2vw + 0.5rem, 1.5rem);
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 
        1px 1px 0px #2a2a2a,
        2px 2px 0px #2a2a2a,
        3px 3px 0px #2a2a2a,
        4px 4px 0px rgba(0,0,0,0.05);
}

.side-panel-meta span:not(:first-of-type) {
    margin-top: 0.25rem;
    opacity: 0.9;
     font-size: clamp(0.85rem, 1.2vw + 0.4rem, 1rem);
}

.side-panel-meta-header {
    width: 150px;
    height: 150px;
    border-radius: var(--guac-border-radius-photos);
    object-fit: cover;
    margin-bottom: 1.5rem;
    box-shadow: 0 5px 1px rgba(0,0,0,0.5);
    transition: all 0.2s ease-in-out;
    border: 2px solid #ffae00;
    background-color: #ffae00;
}

.side-panel-meta-header:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 1px rgba(0,0,0,0.5);
    border: 2px solid #fcc246;
}

.side-panel-button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-panel-button-group i {
    margin-right: 0.5rem;
}

.side-panel-button-group button {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.25rem;
    background: none;
    border: none;
    color: var(--guac-nav-text);
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    transition: background 0.2s;
    border-radius: var(--guac-border-radius);
    text-shadow: 1.5px 1.5px 0px #2a2a2a; 
    font-weight: 600;
    letter-spacing: 0.5px;
}

.side-panel-button-group button:hover {
    z-index: 2;
    background: var(--guac-nav-buttons-hover);
}

.side-panel-button-group button.active:hover {
    z-index: 2;
    animation: shake 0.3s linear;
}

.side-panel-button-group button.active {
    box-shadow: 0 5px 1px rgba(0,0,0,0.3);
    background: #475a3e;
    border-left: 8px solid var(--guac-orange);
    color: #FFF;
    font-weight: 600;
    text-shadow: none; 
}

.side-panel-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.side-panel-link img {
    border: 2px solid #475a3e;
    padding: 0.4rem;
    border-radius: var(--guac-border-radius);
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.side-panel-link img:hover {
    border: 2px solid #8a8a8a;
    background-color: #475a3e;
}

.meta-divider {
    border: none;               
    height: 2px;               
    background-color: rgba(255,255,255,0.1); 
    width: 100%;               
    margin: 1rem 0;           
}

@media (max-width: 1024px) {
    .side-panel {
        position: fixed;
        left: 0;
        top: 0;
        width: 80%; 
        max-width: 300px;
        transform: translateX(-105%); 
        z-index: 99; 
        display: flex; 
    }

    .side-panel.open {
        transform: translateX(0);
        box-shadow: 6px 0 12px rgba(0, 0, 0, 0.3);
    }
}

/* ################################################################# */
/*                           CONTENT PAGE                            */
/* ################################################################# */

.content-page {
    color: var(--guac-content-page-text);
    flex: 1 1 0;          
    height: 100vh;
    overflow-y: auto;     
    padding: 2rem 4rem;
    margin-left: 20%; 
}

.content-page > section:first-child {
    padding-top: 2rem;
}

.content-overlay {
    display: none; 
    position: fixed;
    inset: 0; 
    z-index: 90;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0px);
    transition: all 0.4s ease;
}

.content-overlay.active {
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(8px);
}

@media (max-width: 1024px) {
    .content-page {
        margin-left: 0 !important; 
    }
     .content-overlay {
        display: block;
    }
}

/* ################################################################# */
/*                      CONTENT PAGE - SECTION 1                     */
/* ################################################################# */

.content-section-home {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    gap: 2rem;                                     
}

.home-illustration {
    opacity: 0.75;
    position: absolute;
    width: 40%;
    height: auto;
    right: 50px;
    top: 50;
}

.content-section-home-left {
    flex: 0 0 50%;                 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section-home-left button {
    width: 25%;
}

.content-section-home-left p {
    font-size: 1.2rem;
    max-width: 65ch;
}

.content-section-home-left h2 {
    margin: 0;
}

.content-section-home-right {
    flex: 0 0 45%; /* To prevent overflow in case of padding / gap etc */              
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section-home h2 {
    color: var(--guac-content-page-header);
    font-size: 3rem !important;
    text-shadow: 0 4px 1px rgba(0,0,0,0.2);
}

.content-section-home h2 .highlight {
    color: #738a68;
    text-shadow: 0 4px 1px rgba(0,0,0,0.3);
}

.typing-text-cursor {   
    color: rgba(255,255,255,0.7);
    animation: blink 0.7s infinite;
    margin-left: 2px;
}

/* ################################################################# */
/*                            PRELOADER                              */
/* ################################################################# */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--guac-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOutDelayed 1.5s ease-in-out forwards;
}

.preloader.fade-out {
    opacity: 0;
    pointer-events: none;
}

.preloader-img {
    width: 20%;
    height: auto;
}